.table {
    vertical-align: middle;
}

#content {
    /*
    align-items: center;
    position: relative;
    */
}

.table-wrapper {
    /*max-height: 80vh;*/
    overflow: auto;
}

.my-md-6 {
    margin-top: 5rem!important;
    margin-bottom: 3rem!important;
}